; The format of this file is very simple.  Each database which you wish to
; use as an IRM database should be specified below.  First, the name of the
; database itself should be placed in [square brackets], then the DSN of the
; database to use (basically a URL that specifies how to contact a database
; server).
;
; A DSN is specified as follows:
;   <dbtype>://<user>:<pass>@<host>/<database>
;
; At present, only mysql is useful for the <dbtype>.
;
; If you need to specify a different path to a Unix socket for communication
; other than the PHP default, use the dbsocket parameter, like this:
;
; dbsocket = "/some/other/socket/path.sock"
;
; You should also specify a descriptive name for the database using the
; 'name' tag.

[budge]
DSN = "mysql://root@localhost/IRM"
name = Budge Database


[testing]
DSN = "mysql://test@localhost/test"
name = Test Database

[example]
DSN = "mysql://root:rootpassword@localhost:3306/irmdb"
name = An example DB
